body
{
    background: rgb(63,56,189);
    background: linear-gradient(90deg, rgba(63,56,189,1) 0%, rgba(107,174,187,1) 92%);
}
img 
{
    width: 100%;
    margin-top: 30px;
}
.product-card1 img:hover
{
    filter: blur(1.5px);
}
.product-card2 img:hover
{
    filter: saturate(50%);
}
.product-card3 img:hover
{
    filter:hue-rotate(100deg);
}
.section 
{
    padding: 50px;
}
.product-card4 img:hover
{
    transform: rotatey(360deg);
    transition: all 1s;
}
.product-card5 img:hover
{
    transform: scale(0.1,0.1);
    transition: all 5s;
}
.product-card6 img:hover
{
    transform: matrix(1, -0.3, 0, 1, 0, 0);
    transition: all 2s;
}